<h2> Movies List </h2>

<a href="/movies/new"> Add a New Movie </a>

<ul>
  <% moviesList.forEach((movie) => { %>
    <li>
      <h3> <%= movie.title %> </h3>
      <p> <%= movie.genre %> </p>
      <a href="/movies/<%= movie._id %>">
        View More
      </a>
    </li>
  <% }) %>
</ul>
