<h2> Add a New Movie: </h2>

<form action="/movies" method="post">
  <label for="movie-title"> Title: </label>
  <input id="movie-title" type="text" name="movieTitle">
  <br>

  <label for="movie-genre"> Genre: </label>
  <input id="movie-genre" type="text" name="movieGenre">
  <br>

  <label for="movie-plot"> Plot: </label>
  <input id="movie-plot" type="text" name="moviePlot">
  <br>

  <button> Submit Now </button>
</form>
