<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <%- body %>

    <a href="/celebrities">
      Celebrities List
    </a>
    <br>
    <a href="/movies">
      Movies List
    </a>
    
  </body>
</html>
